<!DOCTYPE html>
<html>
<head>
    <title>Search Course </title>
</head>
<body>
    <h1>Search for Courses</h1>
    <form action="/courses/search" method="GET">
        <div>
            <label for="q">Search Courses:</label>
            <input type="text" id="q" name="q" required>
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</body>
</html>
