<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <h1>Upload Video</h1>
    <form method="POST" action="/uploadVideo" enctype="multipart/form-data">
        <input type="file" name="video">
        <input type="submit">
    </form>
    <img src="http://localhost:4040/images/1698460602739.png">
    <video id="videoPlayer"width="650" height="550" controls muted="muted" autoplay>
        <source src="https://Ilearn.varankit.tech/video/6555a594dcf558cbd03ea5e6/lecture/6555a5a1dcf558cbd03ea5ec?path=public/course_videos/video-1700111776327-360p.mp4" 
        type="video/mp4"/>
    </video>

    <h2>Upload Image</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
    </form>
    <img id="uploadedImage" src ="../public/images"alt="Uploaded Image" style="max-width: 100%;
     display: none;">

    
</body>
</html>     